@media (max-width: 830px){
    .webman-main-panel>header>form {
        display: none;
    }
}
body {
    background-color: #1d2939;
    font-family: 'LatoBold', 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, sans-serif;
    line-height: 21px;
}

section.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.webman-left-panel {
    position: absolute;
    width: 220px;
    z-index: 100;
}

.webman-main-panel {
    margin-left: 220px;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.webman-left-panel header {
    padding: 10px;
    background-color: #2f4050;
    font-size: 30px;
    letter-spacing: -1.5px;
    line-height: 30px;
    color: #efe4ed;
    overflow: hidden;
}

.webman-left-panel nav ul {
    list-style: none;
    margin: 10px;
    padding: 0;
}

.webman-left-panel nav ul li a {
    color: #8f939e;
    text-decoration: none;
    padding: 7px 10px;
    display: block;
}

.webman-left-panel nav ul li a:hover,.webman-left-panel nav ul li a:focus {
    background-color: #293846;
    color: #fff;
}
.webman-left-panel nav ul li a.active {
    background-color: #35485a;
    color: #fff;
}

.webman-left-panel nav ul li a i {
    margin-right: 6px;
}

.webman-main-panel {
    background-color: #e4e7ea;
}

.webman-main-panel>header {
    border-left: 1px solid #eee;
    background-color: #fff;
}

.webman-main-panel header .webman-bar {
    float: left;
    width: 50px;
    height: 50px;
    font-size: 22px;
    cursor: pointer;
    border-right: 1px solid #eee;
}

.webman-main-panel header .webman-bar a {
    color: #1d2939;
}

.webman-main-panel header .webman-bar a i {
    margin: 14px 0 0 15px;
}

.webman-main-panel header form input {
    float: left;
    width: 250px;
    padding: 18px 20px;
    border: 0;
    border-right: 1px solid #eee;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    height: 50px;
    font-size: 14px;
}

.webman-main-panel header form input:focus {
    border-color: #ddd;
}

.webman-main-panel header form {
    position: relative;
    float: left;
}

.webman-main-panel header form i {
    position: relative;
    top:15px;
    right: 24px;
    font-size: 18px;
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    float: right;
}

header ul li {
    float: left;
    border-left: 1px solid #eee;
}

header ul li a {
    display: inline-block;
    padding: 14px 15px 15px;
    color: #333;
    font-size: 16px;
}

.webman-account {
    padding: 12px 15px;
    font-size: 14px;
}

.webman-account img {
    border-radius: 50%;
    height: 26px;
    margin-right: 5px;
}

.webman-main-panel>nav {
    background-color: #f7f7f7;
    border-bottom: 1px solid #e7eaec;
}

.webman-main-panel>.webman-content {
    overflow: visible;
}

.webman-breadcrumb {
    padding: 10px 10px 10px 15px;
    overflow: auto;
}

.webman-breadcrumb span {
    float: left;
    margin-right: 10px;
}

.webman-breadcrumb ul {
    padding: 0;
    margin: 0;
    float: left;
    list-style: none;
}
.webman-breadcrumb  ul li {
    float: left;
}

.webman-panel {
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 3px;
    background-color: #fcfcfc;
}

.webman-panel>header {
    width: 100%;
    float: left;
    padding: 20px;
    border-bottom: 1px solid #e7e7e7;
}

.webman-panel>header i, .webman-panel header h2 {
    float: left;
}

.webman-panel>header h2 {
    font-size: 14px;
    margin: 0 0 0 10px;
}

.webman-panel-tools {
    float: right;
}
.webman-panel>.webman-body {
    clear: both;
    position: relative;
}
.webman-panel>.webman-body .form-group {
    margin:0;
    padding: 15px;
    border-bottom: 1px dashed #d3d7db;
}
.webman-panel>.webman-body .form-group:first-child {
    border-top: none;
}

.form-control:focus {
    border-color: #999;
    box-shadow: none;
}

.dataTable-action {
    position: absolute;
    top: -45px;
    right: 50px;
    border-right: 1px solid #DBDBDB;
}
.dataTable-item-action a {
    cursor: pointer;
}
table.dataTable thead th {
    padding: 10px 18px 6px 10px;
    border-bottom: 2px solid #e7eaec;
}
table.dataTable tfoot th {
    padding: 10px 18px 6px 10px;
    border-top: 1px solid #e7eaec;
}
table.dataTable tbody td {
    border-bottom: 1px solid #e7eaec;
}
table.dataTable tbody td a {
    margin-left: 10px;
}
table.dataTable tbody td a:first-child {
    margin-left: 0;
}
table.dataTable tbody td ul {
    list-style: none;
    padding: 0;
}
table.dataTable tbody td ul li {
    float: left;
    margin-left: 10px;
}
table.dataTable tbody td ul li:first-child {
    margin-left: 0;
}

.form-horizontal .form-group:last-child {
    border-bottom: none;
}